@use "../../assets/styles/vars";
@use "../../assets/styles/templates";

.edit-form {
  display: grid;
  grid-template-columns: repeat(5, 1fr) 0.5fr;
  gap: 20px;
  padding: 10px;
  border-bottom: 2px solid vars.$dots-color;
  @media (max-width: vars.$desktop) {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-items: stretch;
    gap: 10px;
  }
  @media (max-width: vars.$tablet) {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 10px;
    padding: 0 20px;
    @include templates.text;
    font-weight: 400;
    border: none;
    border-radius: 10px;
    @media (max-width: vars.$desktop) {
      flex-flow: row wrap;
      justify-content: stretch;
    }
    @media (max-width: vars.$tablet) {
      display: flex;
      flex-shrink: 0;
    }
  }

  &__edit {
    @extend .edit-form;
    background-color: vars.$dots-color;
    border-radius: 15px;
  }

  &__buttons {
    display: flex;
    justify-content: space-around;
    gap: 10px;
    padding: 0 20px;
    @media (max-width: vars.$desktop) {
      flex-direction: column;
      justify-content: center;
    }
  }
}
