@use "../../assets/styles/templates";

.cards-list {
    display: flex;
    height: 100%;
    width: 80%;
    margin: 0 auto;
    transition: transform 0.5s ease-in-out;

  &__text {
    display: flex;
    justify-content: center;
    margin: 50px 0;
    @include templates.text;
    font-size: 30px;
  }

  &__buttons {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    width: 50%;
    height: 50px;
    margin: 0 auto;
    padding: 15px;
  }
}