@use "../../assets/styles/vars";
@use "../../assets/styles/templates";

.words-list {
  width: 90%;
  margin: 20px auto 50px;

  &__titles {
    display: grid;
    grid-template-columns: repeat(4, 1fr ) 2fr;
    margin: 10px auto;
    padding: 10px 0;
    @include templates.title;
    font-size: 24px;
    text-align: center;
    background-color: vars.$bg-color;
    border-radius: 15px;
    @media (max-width: vars.$desktop) {
      grid-template-columns: 1.5fr repeat(3, 1fr);
    }
    @media (max-width: vars.$tablet) {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
      font-size: 20px;
    }
  }

  &__title {
    justify-self: center;
    padding: 10px 0 10px 10px;
    margin: auto;
    background-color: transparent;
  }

  &__content {
    display: flex;
    flex-direction: column;
    text-align: start;
  }
}