@use "../../assets/styles/templates";
@use "../../assets/styles/vars";

.header {
  position: fixed;
  top: 0;
  z-index: 2;
  display: flex;
  flex-basis: 10%;
  align-items: center;
  width: 100%;
  height: 10%;
  padding: 20px;
  background-color: vars.$ordinary-color;

  &__nav {
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin: 0 auto;
    @media (max-width: vars.$tablet) {
      width: 90%;
    }
  }

  &__nav-item {
    display: flex;
    align-items: center;
    @include templates.title;
    font-size: 24px;
    text-align: center;
    @media (max-width: vars.$tablet) {
      font-size: large;
    }

    &:hover {
      transform: scale(1.1);
      cursor: pointer;
    }
  }
  &__logo {
    width: 50px;
    height: 50px;
    margin: 0;
    background-image: url("../../assets/images/logo.png");
    background-repeat: no-repeat;
    background-size: contain;
    text-decoration: none;
  }
}
