@use "../../assets/styles/vars";

.dot {
  background-color: vars.$dots-color;
  border-radius: 5px;
  height: 10px;
  margin: 5px;
  width: 10px;

  &:hover {
    background-color: vars.$hover-color;
    cursor: pointer;
  }

  &.selected {
    background-color: vars.$active-color;
  }
}