@use "../../assets/styles/templates";

.cards-list {
  &__text {
    display: flex;
    justify-content: center;
    margin: 50px 0;
    @include templates.text;
    font-size: 30px;
  }

  &__buttons {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    width: 50%;
    height: 50px;
    margin: 0 auto;
    padding: 15px;
  }
}