.slider {
  overflow: hidden;
  position: relative;
  margin: 150px auto 50px;

  &.cards-list {
    display: flex;
    height: 100%;
    width: 80%;
    margin: 0 auto;
    transition: transform 0.5s ease-in-out;

    &.card-item {
      position: relative;
      flex: 1 0 100%;

    }
  }
}